---

---

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap" rel="stylesheet">

<div class="main">
    <img src="/src/assets/barcode.svg" width="50" height="50">
    <svg id="rotatingText" viewBox="0 0 200 200" width="200" height="200">
      <defs>
        <path id="circle" d="M 100, 100
                m -75, 0
                a 75, 75 0 1, 0 150, 0
                a 75, 75 0 1, 0 -150, 0
                ">
        </path>
      </defs>
      <text width="400">
        <textPath alignment-baseline="auto" xlink:href="#circle" class="text" id="scrollBack">
          Elform top eltop ...Sign Up yala mestany eh! -
        </textPath>
      </text>
    </svg>
  </div>

  <style>
    .text {
      font-weight: 600;
      letter-spacing: 1.7px;
      text-transform: uppercase;
      font-family: 'Kanit';
      font-size: 17px;
      fill: #111;
      /* text-shadow: 2px 0px #ccc; */
    }
    .text:hover{
        fill: #555;
        cursor: pointer;
    }

    #rotatingText {
      animation-name: rotate-circle;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    @keyframes rotate-circle {
      to {
        transform: rotate(1turn);
      }
    }

    .main {
      display: grid;
      align-items: center;
      justify-items: center;
    }

    .main img {
      position: absolute;
    }

    .main img {
      position: absolute;
      animation-name: rotate-circle;
      animation-direction: reverse;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      /* filter: drop-shadow(0px 0px 5px #333); */
    }

  </style>

  <script>
    const text = document.querySelector('#scrollBack');
    text.addEventListener('click', () => {
      window.scrollTo({
        top: 0,
        left: 0,
        behavior: 'smooth'
      });
    });
  </script>