---

---

<footer>
    <p>© 2023</p>
</footer>

<style>
    footer{
        position: absolute;
        bottom: -20vh;
        height: 1rem;
        margin: 0;
        padding: 0;
    }

    footer p{
        font-size: 0.8rem;
        color: #415462;
    }
</style>