---

---

<form class="custom-form">

    <div class="grid">
  
      <label for="firstname">
        First name
        <input type="text" id="firstname" name="firstname" placeholder="First name" required>
      </label>
  
      <label for="lastname">
        Last name
        <input type="text" id="lastname" name="lastname" placeholder="Last name" required>
      </label>
  
    </div>
  
    <label for="email">Email address</label>
    <input type="email" id="email" name="email" placeholder="email@ayhaga.com" required>
    <small>We'll never share your email with anyone else.</small>

    <label for="phone">
      Phone
      <input type="text" id="phone" name="phone" placeholder="01234567890" required pattern="^01[0125][0-9]{8}$" title="Please enter a valid phone number">
    </label>

    <div class="grid">
  
    <label for="password">Password
    <input type="password" id="password" name="password" placeholder="Password" required>
  </label>
    <label for="password">Confirm Password
    <input type="password" id="password" name="password" placeholder="Password" required>
  </label>
  </div>
  
    <button type="submit">Create Account</button>
  
  </form>

<style>
    form.custom-form{
        width: 350px;
    }

    form.custom-form label{
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
    }

    form.custom-form input{
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 2px solid #583c50;
        border-radius: 4px;
        box-sizing: border-box;
        height: 40px;
        font-size: 14px;
    }

    form.custom-form input:focus{
        outline: none;
        border-color: #ee8fb8;
    }

    form.custom-form input::placeholder{
        color: #bfbfbf;
        font-size: 14px;
    }

    form.custom-form small{
        display: block;
        margin-top: 5px;
        font-size: 12px;
    }

    form.custom-form button{
        width: 100%;
        background-color: #ee8fb8;
        color: white;
        padding: 10px;
        margin: 5px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        height: 40px;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size:14px;
    }

    form.custom-form button:hover{
        background-color: #db77a2;
    }

</style>