---

---

<nav>
    <ul>
        <li><a class="logo-txt" href="#body">ELFORM</a></li>
    </ul>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
  </nav>

<style>
    nav {
        width: calc(100vw - 2em);
        position: fixed;
        top: 0;
        margin: 0 1em;
        z-index: 2;
    }

    nav ul {
        display: flex;
        align-items: center;
        gap: 1.5em;
    }

    li a {
        color: #415462;
        font-family: 'Koulen', serif;
    }

    li a:hover {
        color: #1d1f21;
        text-decoration: underline;
        text-underline-offset: 8px;
    }

    .logo-txt{
        font-family: 'Libre Barcode 39 Extended Text', serif;
        font-size: 1.5em;
        font-weight: 300;
        text-decoration: none;
        color: #415462
    }

    .logo-txt:hover{
        color: #1d1f21;
        text-decoration:none;
    }

</style>