---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import Rellax from "../scripts/rellax.min.js";
import Waves from "./Waves.astro";
---

<Waves>
    <div id="container">
        <img src="/shopping-cart.webp">
    </div>
</Waves>
<!-- <div id="floating-container-animation">
    <LottieAnimation src="/speaker-animation.json" autoplay="visible" />
    <LottieAnimation src="/animation.json" autoplay="visible" />
</div> -->
<img id="floating-img2" src="/3d-woman-man.webp" class="rellax">
<style>
    #container {
        width: 70vw;
        height: 200vh;
        background-color: #aac6fc;
        transform: translateX(-1vh);
        z-index: 1;
    }

    /* #floating-img-main{
        position: absolute;
        top: 100px;
        left: 70vw;
        width: auto;
        height: 60vh;
        z-index: 2;
    } */

    #floating-container-animation {
        position: absolute;
        top: 100px;
        left: 120vw;
        width: 20vw;
        height: 20vh;
        z-index: 2;
    }

    #floatin-img {
        position: absolute;
        top: 100px;
        left: 50vw;
        width: auto;
        height: 60vh;
        z-index: 2;
    }
    #floatin-img2 {
        position: absolute;
        top: 100px;
        left: 80vw;
        width: auto;
        height: 60vh;
        z-index: 2;
    }
</style>

<script
import Rellax from "rellax";
>
    import Rellax from "../scripts/rellax.min.js";
    var rellax = new Rellax('.rellax', {
      horizontal:true,
      vertical:false
    });
</script>