---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---

<div id="container">
        <LottieAnimation src="/animation.json" autoplay="visible" />
</div>

<style>
    #container {
        width: 70vw;
        height: 100%;
        background-color: #eebed3;
        border-left: 3px solid #583c50;
        border-right: 3px solid #583c50;
    }
</style>
