---
import Form from './Form.astro'
---

<div id="body">
    <Form />
</div>
</div>
<style>
    #body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 40vw;
    }

</style>