---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import Waves from "./Waves.astro";
---
<Waves />
<div id="container">
    <LottieAnimation src="/animation.json" autoplay="visible" />
</div>

<style>
    #container {
        width: 70vw;
        height: 200vh;
        background-color: #aac6fc;
        border-right: 3px solid #583c50;
    }
</style>