---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import Rellax from "../scripts/rellax.min.js";

import Waves from "./Waves.astro";
import CircularText from "./CircularText.astro";
import TextAnimation from "./TextAnimation.astro";
---

<Waves>
    <div id="container">
        <img id="shopping-cart" src="/src/assets/shopping-cart.webp">
    </div>
</Waves>
<!-- <div id="floating-container-animation">
    <LottieAnimation src="/speaker-animation.json" autoplay="visible" />
    <LottieAnimation src="/animation.json" autoplay="visible" />
</div> -->
<img id="floating-img2" src="/src/assets/3d-woman-man.webp" class="rellax" data-rellax-speed="3" data-rellax-zindex="5">
<div id="text-animation">
    <TextAnimation />
</div>
<div id="circular-text">
    <CircularText />
</div>

<style>
    #container {
        width: 70vw;
        height: 200vh;
        background-color: #aac6fc;
        transform: translateX(-1vh);
        z-index: -1;
    }

    /* #floating-img-main{
        position: absolute;
        top: 100px;
        left: 70vw;
        width: auto;
        height: 60vh;
        z-index: 2;
    } */

    #floating-container-animation {
        position: absolute;
        top: 100px;
        left: 120vw;
        width: 20vw;
        height: 20vh;
        z-index: 2;
    }

    #floatin-img {
        position: absolute;
        top: 100px;
        left: 50vw;
        width: auto;
        height: 60vh;
        z-index: 2;
    }
    #floatin-img2 {
        position: absolute;
        top: 100px;
        left: 80vw;
        width: auto;
        height: 60vh;
        z-index: 5;
    }

    #shopping-cart {
        z-index: 4;
    }

    #circular-text{
        position: absolute;
        top: 65vh;
        left: 180vw;
        z-index: 2;
    }

    #text-animation{
        position: absolute;
        top: 10vh;
        left: 150vw;
        z-index: -1;
    }

</style>

<script src="../scripts/rellax.min.js"></script>
<script type="module">
    var rellax = new Rellax('.rellax', {
      horizontal:true,
      vertical:false
    });
</script>