---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import Waves from "./Waves.astro";
---
<Waves>
    <div id="container">
        <LottieAnimation src="/animation.json" autoplay="visible" />
    </div>
</Waves>
<div id="floating-container">
    <LottieAnimation src="/speaker-animation.json" autoplay="visible" />
</div>

<style>
    #container {
        width: 70vw;
        height: 200vh;
        background-color: #aac6fc;
        transform: translateX(-1vh);
        z-index: 1;
    }

    #floating-container {
        position: absolute;
        top: 100px;
        left: 150vw;
        width: 20vw;
        height: 20vh;
        z-index: 2;
    }
</style>