---
import Form from './Form.astro'
---

<div class="body">
    <Form />
</div>

<style>
    .body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
        width: 50vw;
        margin-top: 10vh;
    }
</style>