---
import Navigation from '../components/Navigation.astro';
import PageBody from '../components/PageBody.astro';
import PageImg from '../components/PageImg.astro';
import Footer from '../components/Footer.astro';
import Loader from '../components/Loader.astro';

import '../styles/global.css';

const {pageTitle} = Astro.props;
---
<html lang="en" data-theme="light">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Loader />
        <Navigation />
        <PageBody />
        <PageImg />
        <slot />
        <Footer />
	</body>
</html>

<style>
    body{
        height:100vh;
    }
</style>
